<!DOCTYPE html>
<html>
<head>
    <title>Changelog</title>
    <link rel="stylesheet" href="../styles/style.css"></style>
    <meta charset="UTF-8">
</head>
<body>
    <div id="header">
        <h1 id="title">My Project Backlog</h1>
        <p>A quick overview of the things I've worked on the past couple years!</p>
    </div>
    
    <div id="content">
        <p>Placeholder 1</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>Placeholder 2</p>

        <p>Placeholder 3</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>Placeholder 4</p>

        <p>Another placeholder</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>Another placeholder</p>

        <p>Last row!</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>Done!</p>
    </div>
</body>
</html>