<!DOCTYPE html>
<html>
<head>
    <title>Changelog</title>
    <link rel="stylesheet" href="../styles/style.css"></style>
    <meta charset="UTF-8">
</head>
<body>
    <div id="header">
        <h1 id="title">Jimi Hendrix Timeline</h1>
        <p>Here's a rough timeline of the personal and musical life of Jimi Hendrix.</p>
    </div>
    
    <div id="content">
        <p class="sidebar">November 27, 1942</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>Johnny Allen Hendrix is born in Seattle, Washington to parents James Allen Hendrix and 
            Lucille Jeter.
        </p>

        <p class="sidebar">1946</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>Johnny Allen Hendrix's parents change his name to James Marshall Hendrix
            in honor of his father Al and his late brother Leon Marshall.
        </p>

        <p class="sidebar">Another placeholder</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>Another placeholder</p>

        <p class="sidebar">Last row!</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>Done!</p>
    </div>
</body>
</html>