<!DOCTYPE html>
<html>
<head>
    <title>The Life of Jimi Hendrix: A Timeline</title>
    <link rel="stylesheet" href="../styles/style.css"></style>
    <meta charset="UTF-8">
</head>
<body>
    <div id="header">
        <h1 id="title"><span id="name">Jimi Hendrix</span> Timeline</h1>
        <p>Here's a rough timeline of the personal and musical life of Jimi Hendrix.</p>
    </div>
    
    <!--EARLY CHILDHOOD AND EXPOSURE TO MUSIC-->
    <p class="sectionHeader" id="earlyLifeHeader">Early life and music exposure</p>

    <div class="contentGrid" id="earlyLife">
        <p class="sidebar">November 27, 1942</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Johnny Allen Hendrix is born in Seattle, Washington to parents James Allen "Al" Hendrix and 
            Lucille Jeter.
        </p>

        <p class="sidebar">1946</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Johnny Allen Hendrix's parents change his name to James Marshall Hendrix
            in honor of his father Al and his late brother Leon Marshall.
        </p>

        <p class="sidebar">December 17, 1951</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix's parents are divorced, with Al gaining custody of him and his older brother Leon. 
            Hendrix spends the mid-1950s at Horace Mann Elementary School in Seattle, carrying a broom with him
            and pretending it was a guitar.
        </p>

        <p class="sidebar">1957</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix helps his father with a side job cleaning an old woman's home and finds a ukulele
            with a single string in the garbage. He learns single-note songs by ear, like Elvis Presley's 
            "Hound Dog."
        </p>

        <p class="sidebar">February 2, 1958</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix's mother, Lucille, dies to a spleen rupture caused by liver cirrhosis. Al refuses
            to let the brothers attend her funeral, instead giving them shots of whiskey to "cope with loss."
        </p>

        <p class="sidebar"></p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            A 15-year-old Hendrix acquires his first acoustic guitar for $5 and plays for hours a day,
            listening to the likes of Muddy Waters, B.B. King, Howlin' Wolf, and Robert Johnson. He soon formed
            a short-lived band called the Velvetones, after which Al reluctantly got him an electric guitar.
            Later, Hendrix joined an unnamed band and played a few gigs, but was fired for showing off.
        </p>
    </div>

    <!--JOINING THE MILITARY-->
    <p class="sectionHeader" id="militaryHeader">Joining the military</p>

    <div class="contentGrid" id="military">
        <p class="sidebar">May 31, 1961</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix enlists in the military after being given an ultimatum between military service
            or prison time for riding in stolen cars. He completed eight weeks of basic training at Fort Ord,
            then was assigned to 101st Airborne Division and stationed at Fort Campbell, Kentucky.
            He wrote back home declaring his displeasure with training, pleading his father to send him
            his guitar.
        </p>

        <p class="sidebar">November, 1961</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            A fellow serviceman Billy Cox notices Hendrix's playing at an army club. The two jammed, with Cox on 
            bass guitar. They periodically played with other military musicians as a loosely formed group called
            The Casuals.
        </p>

        <p class="sidebar">June 29, 1962</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix is granted a general discharge under honorable conditions. This was likely connected to a 
            report written by his Platoon Sergeant, James C. Spears, claiming that he had "no interest whatsoever 
            in the Army." Hendrix later claimed that he was given a medical discharge after breaking his ankle
            during a parachute jump.
        </p>
    </div>

    <!--AFTER THE MILITARY-->
    <p class="sectionHeader" id="afterMilitaryHeader">After the military</p>

    <div class="contentGrid" id="afterMilitary">
        <p class="sidebar">September, 1962</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix and Cox form a band, the King Kasuals, in Clarksville, Tennessee. The band's second guitarist, 
            Alphonso Young, would sometimes play the guitar with his teeth. Hendrix decided to learn to do 
            the same. The group eventually found their way into Nashville's Jefferson Street, which was filled with
            prestigious blues musicians. Hendrix played with his own band here, as well as other venues that were 
            part of the Chitlin' Circuit throughout the South as a backing musician for artists like Ike and Tina Turner.
        </p>

        <p class="sidebar">Around February, 1964</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Through a series of connections, Hendrix lands a role in the Isley Brothers' backing band. He toured
            with them throughout most of 1964 and recorded a single with them, "Testify."
        </p>

        <p class="sidebar">February, 1965</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix starts touring with Little Richard's band, the Upsetters. He recorded a single with Richard,
            which underperformed as Richard's popularity was dwindling at the time.
        </p>

        <p class=sidebar>July, 1965</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix appears on the television show "Night Train", performing the song "Shotgun"
            in Little Richard's band. This is the earliest known footage of Hendrix performing. Hendrix
            was fired from the band later that month for his antics.
        </p>

        <p class="sidebar"></p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            After playing in a few more bands, like Curtis Knight and the Squires, as well as attempting to front
            his own band, Jimmy James and the Blue Flames, Hendrix meets Linda Keith, who was Keith Richards' girlfriend.
            He is referred to Chas Chandler, the bassist for The Animals (of "House of the Rising Sun" fame), who 
            was interested in forming and managing a band. Chandler scouts band members for a new group that
            could highlight Hendrix's talents. These members end up being bassist Noel Redding and drummer
            Mitch Mitchell. The members unite over their shared interest in rhythm and blues. The three members
            become known as the Jimi Hendrix Experience after Chandler convinces Hendrix to change the spelling
            of his first name.
        </p>
    </div>

    <!--THE JIMI HENDRIX EXPERIENCE FORMS-->
    <p class="sectionHeader" id="experienceHeader">The Jimi Hendrix Experience</p>

    <div class="contentGrid" id="experience">
        <p class="sidebar">October 1, 1966</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Chandler brings Hendrix to the London Polytechnic, where the band Cream is scheduled to perform that night.
            Hendrix asks their guitarist, Eric Clapton, if he could perform a few songs. Clapton 
            obliges. Hendrix performs Howlin' Wolf's "Killing Floor," including some of his tricks like playing 
            with his teeth and behind his back. Clapton would later say that "my life was never the same again" after
            that performance.
        </p>

        <p class="sidebar">October 13, 1966</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The Jimi Hendrix Experience play their first show: a brief, 15-minute act at the Novelty in 
            Evreux as a supporting act for Johnny Hallyday.
        </p>

        <p class="sidebar">October-November, 1966</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The Experience record their first song, "Hey Joe". The band's first original song, "Stone Free," is recorded
            shortly thereafter. Later, when performing a show at the Big Apple in Munich, Hendrix smashes his guitar
            in a panic when trying to escape the crowd, which created an explosion of sound. The audience believes
            this to be part of the show and reacts uproariously. This later becomes a permanent fixture
            of Hendrix's shows.
        </p>

        <p class="sidebar">November, 1966</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            At the Bag O' Nails nightclub in London, the Experience perform for a crowd that included
            Eric Clapton, Paul McCartney, John Lennon, Mick Jagger, and Jeff Beck. They are all reportedly shocked
            by what they're hearing, and this performance lands Hendrix his first interview with the publication
            Record Mirror. They predict that Hendrix would take the industry by storm.
        </p>

        <p class="sidebar">December 16, 1966</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The single "Hey Joe" backed with "Stone Free" is released through Polydor Records. The former
            soon enters the UK charts and later peaks at number 6. Next year, the band releases "Purple Haze" and
            "The Wind Cries Mary", which perform even better on the UK charts.
        </p>

        <p class="sidebar">March 31, 1967</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The Experience perform at the London Astoria. At the end of the 45-minute show, Hendrix
            sets fire to his guitar after having some lighter fluid placed onto it beforehand. London's press
            goes wild, as expected.
        </p>
    </div>

    <!--ARE YOU EXPERIENCED? ERA-->
    <p class="sectionHeader" id="areYouExperiencedHeader">Are you experienced?</p>

    <div class="contentGrid" id="areYouExperienced">
        <p class="sidebar">May 12, 1967</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The Jimi Hendrix Experience's first LP, "Are You Experienced?" is released in the UK. It spends 
            33 weeks on the charts, peaking at number 2 (number 1 at the time was "Sgt. Pepper's Lonely Hearts
            Club Band" by The Beatles). The album includes standard blues songs like "Red House", hard rockers like
            "Purple Haze" and "Foxey Lady", sweet ballads like "May This Be Love" and "The Wind Cries Mary", and
            highly experimental tracks like "Third Stone from the Sun" and the title track. The album is later released
            in the United States on August 23 of that year through Reprise Records.
        </p>

        <p class="sidebar">June 4, 1967</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The Experience opens a show at London's Saville Theatre with a performance of "Sgt. Pepper's Lonely 
            Hearts Club Band" by the Beatles, which had come out only 3 days earlier. McCartney and Harrison were
            in the audience, with the former counting it as "one of the great honors of my career."
        </p>

        <p class="sidebar">June 18, 1967</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The Experience perform at the Monterey Pop Festival after the organizers of the event
            are strongly encouraged to include them by McCartney. Hendrix shows up in very exotic clothing
            and performs several covers and songs from their debut album. At the end of the show,
            Hendrix sets his guitar on fire, which becomes one of the most iconic moments in the history
            of rock music. By the end, the audience can't believe what they've seen or heard.
        </p>
    </div>

    <!--AXIS: BOLD AS LOVE ERA-->
    <p class="sectionHeader" id="boldAsLoveHeader">Axis: bold as love</p>

    <div class="contentGrid" id="boldAsLove">
        <p class="sidebar">Before December, 1967</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The recording sessions for "Axis: Bold As Love" take place. The release is almost delayed after
            the master tape for the A-side of the record was left by Hendrix in the back seat of a London taxi.
            Hendrix, Chandler, and the mixing engineer Eddie Kramer remix most of these songs in one night,
            but the song "If 6 Was 9" has to be recovered from a tape that Redding has.
        </p>

        <p class="sidebar"></p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The cover for the album is produced, depicting the members of the Experience as various avatars of
            the Hindu diety Vishnu. Hendrix later complained about the cover, saying "I'm not that kind of Indian"
            (Context: Hendrix was alledgedly of Cherokee descent).
        </p>

        <p class="sidebar">December 1, 1967</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The Experience's second LP, "Axis: Bold As Love" is released in the UK. It peaks at number 5 on the UK
            charts. In February of the following year, the album reaches number 3 in the US charts. The album contains
            a lot more studio experimentation than the band's previous album, including stereo panning and the first 
            recorded instance of stereo phasing.
        </p>
    </div>

    <!--ELECTRIC LADYLAND ERA-->
    <p class="sectionHeader" id="electricLadylandHeader">Electric Ladyland</p>

    <div class="contentGrid" id="electricLadyland">
        <p class="sidebar">December 20, 1967</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The recording sessions for the Experience's third and final LP, "Electric Ladyland," begin. 
        </p>

        <p class="sidebar">April, 1968</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The recording sessions for the album are moved to the newly opened Record Plant Studios in New York.
            Around this time, Chandler gets frustrated with Hendrix's studio antics (including inviting many friends and 
            guests into the studio and demanding many retakes) and cuts ties with him and the band. Redding also forms
            his own band, Fat Mattress, around this time, leaving him unable to record often and requiring Hendrix
            to record many of the bass parts himself.
        </p>

        <p class="sidebar">October 25, 1968</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Electric Ladyland is released, becoming the Experience's most successful album, and their
            only to reach number 1 on the US charts (it reached number 6 in the UK). It includes a cover
            of Bob Dylan's "All Along the Watchtower," which was Hendrix's most successful song and remains his
            most popular on streaming. It is by far their longest album, at 1 hour and 15 minutes. Critics generally
            agree that it is the band's best work.
        </p>

        <p class="sidebar">January, 1969</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The Experience perform on BBC's "Happening for Lulu" show. They play Voodoo Child,
            then break out into a rendition of Cream's "Sunshine of Your Love." They continue playing it for
            so long that the producer tries to get them to stop, but they continue playing. They are kicked off
            and Hendrix is alledgedly banned from working with the BBC.
        </p>

        <p class="sidebar">February-April, 1969</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Tensions within the band reach a tipping point, with Redding being frustrated by Hendrix's unpredictable
            work ethic and total creative control.
        </p>

        <p class="sidebar">June 19, 1969</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The Experience play their last show together: the Denver Pop Festival. Prior to the show,
            Redding is informed by a journalist that Hendrix had announced that he was fired and replaced by
            Billy Cox (mentioned in the military section). During the event, tear gas is deployed on the crowd
            by police. The next day, Redding leaves the band to pursue a solo career. He later claims to have liked
            Hendrix, but not Mitchell, and that he and Mitchell only hung out together because they were
            both British.
        </p>
    </div>

    <!--WOODSTOCK-->
    <p class="sectionHeader" id="woodstockHeader">Woodstock festival</p>

    <div class="contentGrid" id="woodstock">
        <p class="sidebar">Before August 18, 1969</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix is set to headline the Woodstock Music and Art Fair. He adds rhythm guitarist Larry Lee
            and two conga players Juma Sultan and Jerry Velez to his band's lineup, alongside Mitchell and Cox
            from before. Hendrix decides to change his performance time from Sunday at midnight to Monday
            at 8:00 a.m, as he disliked performing for excessively large crowds.
        </p>

        <p class="sidebar">August 18, 1969</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix and his band perform as the last act of Woodstock. They are introduced as "the Jimi 
            Hendrix Experience," but Hendrix objects to this name and refers to himself and his band as "nothin' 
            but a Band of Gypsys." The performance includes Hendrix's rendition of "The Star Spangled Banner,"
            featuring great amounts of distortion, feedback, and effects made to imitate the sounds of bombs and
            airplanes. This performance is interpreted as a protest against the Vietnam War and one of the greatest
            moments in rock music history.
        </p>

        <p class="sidebar"></p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix leaves the festival and collapses from exhaustion, as he had not slept for three
            days by that point.
        </p>
    </div>

    <!--BAND OF GYPSYS ERA-->
    <p class="sectionHeader" id="bandOfGypsysHeader">Band of Gypsys</p>

    <div class="contentGrid" id="bandOfGypsys">
        <p class="sidebar">1965</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix enters a record contract with producer Ed Chalpin.
        </p>

        <p class="sidebar">1968</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix and Chalpin conclude a legal dispute over this contract, agreeing that Chalpin would have the
            rights to an LP of original Hendrix material. Hendrix decides to make this album, titled "Band of Gypsys,"
            out of two shows' worth of live performances. The band is formed with Hendrix on vocals and guitar,
            Cox on bass, and drummer Buddy Miles. 
        </p>

        <p class="sidebar">December 31-January 1, 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            This trio plays four shows over two days. On the last of these shows, at Berkeley, California, the band
            performs the song "Machine Gun." This is a 12-minute track often considered Hendrix's best work. It makes
            heavy use of musical symbolism (the drums replicating machine gun fire and the guitar mimicking
            explosions and dropping bombs).
        </p>

        <p class="sidebar">January 20, 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The Band of Gypsys appears for the third and final time, playing at the Winter Festival for Peace
            at Madison Square Garden. Hendrix's on-stage and backstage behavior is rude and erratic.
            They only play one song, then Hendrix sits on the drum riser and walks off stage shortly after.
            Miles and Redding later claim that Hendrix was given LSD by Michael Jeffery, formerly the manager for
            the Animals and Hendrix's current manager, as an act of sabotage. Miles was fired by Jeffery and Cox left
            the band soon after the show, putting an abrupt end to the Band of Gypsys.
        </p>

        <p class="sidebar">April, 1970</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            The Band of Gypsys live album is released through Capitol Records. It reaches the top ten in both
            the US and the UK. It was the only live Hendrix album released during his lifetime. 
        </p>
    </div>

    <!--THE CRY OF LOVE AND HENDRIX'S DEATH-->
    <p class="sectionHeader" id="cryOfLoveHeader">The Cry of Love</p>

    <div class="contentGrid" id="cryOfLove">
        <p class="sidebar">Febryary 1970</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Hendrix, Redding, and Mitchell are interviewed by Rolling Stone as a group, but do not
            reform to make new music. Hendrix maintains his decision to involve Cox instead of Redding.
        </p>

        <p class="sidebar">First few months of 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix and his band work on material for what would be his fourth studio LP. In April of this year,
            he tells interviewer Keith Altham that the project was abandoned. The band proceeds to embark on the
            "Cry of Love" tour.
        </p>

        <p class="sidebar">April - August, 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The American leg of the Cry of Love tour takes place with 32 performances. Setlists include both
            classic Experience songs and new material. Several of these are recorded. The tour concludes in Honolulu,
            Hawaii, marking his last show in the United States.
        </p>

        <p class="sidebar">August - September, 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            The European leg of the Cry of Love tour begins, but Hendrix is unhappy with fulfulling the tour due to the
            completion of Electric Lady Studios. This studio building was created to reduce the cost of Hendrix's
            extensive studio sessions, which were becoming unsustainable due to the length of the bookings. His last
            performance was at the Isle of Fehmarn Festival in West Germany. Cox quit the tour three days later after
            a bout of LSD-induced paranoia.
        </p>

        <p class="sidebar">September 16, 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix performs for the last time in Soho, London, England, in a jam with Eric Burdon and his band War. 
        </p>

        <p class="sidebar">September 17-18, 1970</p>
        <span class="bulletContainer">
            <div class="vl"></div>
            <span class="bullet"></span>
            <div class="vl"></div>
        </span>
        <p>
            Hendrix and his last girlfriend, Monika Dannemann, share dinner and a bottle of wine at her residence.
            They go to sleep at around 7 a.m; at around 11 a.m, she wakes up to find him breathing, but unresponsive.
            She calls the ambulance, which arrives nine minutes later. Hendrix is taken to St. Mary Abbots Hospital,
            where he is pronounced dead. The cause of death is generally agreed upon to be asphyxiation resulting from
            the use of barbituates.
        </p>

        <p class="sidebar">1971</p>
        <span class="bulletContainer">
            <span class="bullet"></span>
        </span>
        <p>
            Some of Hendrix's unreleased material intended for his fourth studio album is released as The Cry of Love.
            It reaches number 3 in the US and number 2 in the UK.
        </p>
    </div>
</body>
</html>