* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#name {
    color: violet;
}

#header {
    font-size: 20px;
    background-color: rgb(54, 54, 54);
    padding: 20px 15px;
}

#header * {
    background-color: rgb(54, 54, 54);
}

.sectionHeader {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    padding: 20px;
}

.contentGrid {
    display: grid;
    grid-template-columns: 200px 200px auto;
    place-items: center;
    color: white;
    margin-right: 10px;
}

#earlyLife {
    grid-template-rows: repeat(6, 100px);
}

#earlyLifeHeader {
    background-color: #9b9b9b;
    color: black;
}

#military {
    grid-template-rows: repeat(3, 100px);
}

#militaryHeader {
    background-color: rgb(138, 197, 138);
    color: black;
}

#afterMilitary {
    grid-template-rows: repeat(5, 100px);
}

#experience {
    grid-template-rows: repeat(6, 100px);
}

#experienceHeader {
    background-color: yellow;
    color: purple;
}

#areYouExperienced {
    grid-template-rows: repeat(3, 100px);
}

#areYouExperiencedHeader {
    background-color: yellow;
    color: purple;
}

#boldAsLove {
    grid-template-rows: repeat(3, 100px);
}

#boldAsLoveHeader {
    background-color: orange;
    color: rgb(41, 133, 169);
}

.contentGrid p {
    text-align: center;
}

.sidebar {
    font-weight: bold;
}

.bulletContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bullet {
    border-radius: 50%;
    background-color: white;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.vl {
    background-color: white;
    height: 50px;
    width: 5px;

}